<h1>Puzzles</h1>
<div class="container">
  {{#each model as |puzzle|}}
    {{#link-to 'puzzles.puzzle' puzzle.id}}
      {{puzzle.start_word}} - {{puzzle.end_word}}<br>
    {{/link-to}}
  {{/each}}
</div>
{{outlet}}
